<ion-header>
  <ion-navbar>
    <ion-title>Edit Data</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="FormEditData" (ngSubmit)="simpan()">
          <ion-item>
            <ion-input type="hidden" formControlName="id_barang" *ngFor="let Data of Data_Barang"
              [value]="Data.id_barang"></ion-input>
            <ion-label color="primary" stacked>Nama Barang</ion-label>
            <ion-input type="text" formControlName="nama_barang" *ngFor="let Data of Data_Barang"
              [value]="Data.nama_barang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Qty</ion-label>
            <ion-input type="text" formControlName="qty" *ngFor="let Data of Data_Barang" [value]="Data.qty">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Harga</ion-label>
            <ion-input type="text" formControlName="harga" *ngFor="let Data of Data_Barang" [value]="Data.harga">
            </ion-input>
          </ion-item>
          <ion-item>
            <button ion-button full type="submit" color="primary" [disabled]="!FormEditData.valid">Simpan</button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
